snippet package "Snippet for: package."
package $0
endsnippet

snippet main_class "Snippet for: main class and function."
public class $1 {
	public static void main(String[] args) {
		$0
	}
}
endsnippet

snippet class_public "Snippet for: class."
public class $1 {
	$0
}
endsnippet

snippet function "Snippet for: function."
public static void $1($2) {
	$0
}
endsnippet

snippet println_text "Snippet for: println."
System.out.println("$0");
endsnippet
