snippet codeblock_rust "Snippet for: Rust codeblock." b
\`\`\`rust
$0
\`\`\`
endsnippet

snippet codeblock_lua "Snippet for: Lua codeblock." b
\`\`\`lua
$0
\`\`\`
endsnippet

snippet codeblock_vim "Snippet for: Vim codeblock." b
\`\`\`vim
$0
\`\`\`
endsnippet

